<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="APP">SpringCircularReferenceDemo</Property>
        <Property name="LOG_HOME">./logs</Property>
        <Property name="LOG_FILE">${APP}_console.log</Property>
        <Property name="ERROR_LOG">error.log</Property>
        <Property name="LOG_LEVEL">TRACE</Property>
        <Property name="LOG_PATTERN">%d|%-5p|%24F:%-4L|%t|%m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMisMatch="NEUTRAL"/>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMisMatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMisMatch="NEUTRAL"/>
            </Filters>
        </Console>

        <RollingFile name="Root" fileName="${LOG_HOME}/${LOG_FILE}"
                     filePattern="${LOG_HOME}/${LOG_FILE}.%d{yyyyMMdd}.%i">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="${LOG_LEVEL}"/>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMisMatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="ErrorLog" fileName="${LOG_HOME}/error.log"
                     filePattern="${LOG_HOME}/error.log.%d{yyyyMMdd}.%i">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${LOG_LEVEL}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Root"/>
            <AppenderRef ref="ErrorLog" level="ERROR"/>
        </Root>
    </Loggers>


</Configuration>