<component name="ArtifactManager">
  <artifact type="war" external-system-id="Maven" name="SpringCircularReferenceDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringCircularReferenceDemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringCircularReferenceDemo.war">
      <element id="artifact" artifact-name="SpringCircularReferenceDemo:war exploded" />
    </root>
  </artifact>
</component>